# python
.venv/
__pycache__/
*.pyc
.venv/
venv/

# data
data/

# tempprary analysis files
analysis/

# notebooks / checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# dotenv / secrets
.env

# Claude settings
.claude/settings.local.json
